.container-center {
  margin: 0 auto;
  text-align: center;
  color: #aeaae6;
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1rem 0;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  width: 14rem;
  margin: 1rem auto;
  /* padding: 0 3rem; */
}

a, a:visited {
  color: #aeaae6;
  /* color: #0f0783; */
  text-decoration: none;
}

a:hover {
  color: #0f0783;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.poke-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 80%;
  justify-items: center;
}

.poke-detail {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 80%;
  
}

.poke-list li, .poke-detail li {
  list-style: none;
  padding: 1rem;
  border: 1px solid #555;
  border-radius: 5px;
  margin: 1rem;
  text-align: center;
  height: auto;
}

.poke-list li {
  width: 12rem;
}

.poke-detail li {
  width: 15rem;
}

.poke-list img, .poke-detail img {
  cursor: pointer;
  object-fit: contain;
  opacity: 0.9;
}

.poke-list img {
  width: 7rem;
  height: 7rem;
}

.poke-detail img {
  width: 10rem;
  height: 10rem;
}

.poke-list img:hover, .poke-detail img:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
}
